@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sahitya:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    padding: .5rem;
    font-weight: bolder;
    
}

.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-image: linear-gradient(135deg,#ff00d0, #9900ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} 

.rowInput{
    background-color: rgb(250, 233, 250);
    width: 100%;
    max-width: 540px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
/* .labelText{
    flex-direction: column;
} */

.rowInput button {
    background-color: transparent;
    border:none;
    padding: 20px;
}
.rowInput img{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: -9px;
    filter: drop-shadow(5px 5px 5px rgba(40, 40, 40, 0.5));
}
.inputTask{
    width: 80%;
    height: 30px;
    padding: 10px;
}
.floatButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 20px;
    padding: 20px;
}
.floatButton button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.floatButton img{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    filter: drop-shadow(5px 5px 5px rgba(40, 40, 40, 0.5));
    transform: scale();
    transition: transform 1s;
}
.floatButton button :hover{
    transform: scale(1.3);
}
.list{
    display: flex;
    list-style: none;
    font-size:x-large;
    padding: 5px;
    margin: 10px;
    background-color: rgb(246, 230, 248);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #340131 ;
    cursor: grab;
}
text{
    margin: 10px;
    padding: 10px;
}
.button-checked{
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    border:none;
    background-image: url("./img/svg/checked.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;

}
.toggle {
    text-decoration: line-through;
}
.button-reload{
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 10px;
    border:none;
    background-image: url("./img/svg/hand.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;

}
.button-trash {
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    background-image: url("./img/svg/trash.svg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    cursor: pointer;
}
.dropzone{
    justify-content: center;
    width: 100%;
    max-width: 540px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    background-color:rgb(246, 230, 248);
    border-radius: 15px;
    
}
.content-drop{
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding: 20px;
}
.hidden{
    display: none;
}


